<h2>The message in the database: </h2>
<ul>
    <li><strong>Name:</strong> <%= message.name %></li>
    <li><strong>Email:</strong> <%= message.email %></li>
    <li><strong>Phone:</strong> <%= message.phone %></li>
    <li><strong>Subject:</strong> <%= message.subject %></li>
    <li><strong>Message:</strong> <%= message.comment %></li>
</ul>
<button class="btn btn-primary" onclick="window.location.href='/';">Home</button>